defaults
    mode            tcp
    log             global
    option          tcplog
    option          dontlognull
    option http-server-close
    option          redispatch
    retries         3
    timeout http-request 10s
    timeout queue   1m
    timeout connect 10s
    timeout client  1m
    timeout server  1m
    timeout http-keep-alive 10s
    timeout check   10s
    maxconn         3000
frontend    mysql
    bind        0.0.0.0:3306
    mode        tcp
    log         global
    default_backend mysql_server

backend     mysql_server
    balance roundrobin
    server master mysqlmaster:3306 check inter 5s rise 2 fall 3
    server slaver mysqlslave:3306  check inter 5s rise 2 fall 3

frontend http
    bind *:80
    mode http
    stats enable
    stats uri /stats

